{% assign csvdata = include.csvdata %}
<table class="display" style="width:100%">
    <thead>
        <tr>
        {% for column in csvdata[0] %}
            <th>{{ column[0] }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in csvdata %}
        <tr>
        {% for cell in row %}
            <td>{{ cell[1] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
        {% for column in csvdata[0] %}
            <th>{{ column[0] }}</th>
        {% endfor %}
        </tr>
    </tfoot>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
      $('table.display').DataTable();
    });
  </script>