<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div class="isa_info">
          <i class="fa fa-info-circle"></i>
          This prototype website is no longer actively maintained - please visit the new <a href="https://phenotypes.healthdatagateway.org/">HDR UK Phenotype Library</a> website.
        </div>

        {{ content }}

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
